@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Accidents.Models.Storage.Accident>

@{
    ViewBag.Title = "Панель администратора по НС";
}

@section Styles {
    <link href="~/Content/Tables.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    <!-- some inline CSS -->
    <style type="text/css">
    </style>
}

<h1 class="mt-4 center">Панель администратора по НС</h1>

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addAccidient">Загрузить новые НС в БД</button>
            @Html.ActionLink("Скачать НС", "Export", "AdminPanelAccidents", new { }, new { @class = "btn btn-info" })            
            <br>
            @using (Html.BeginForm("Index", "AdminPanelAccidents", FormMethod.Get))
            {
                <br />
                <p class="center">@Html.TextBox("Search") <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Найти" /></p>
                <p class="center">
                    Поле для поиска:
                    @Html.RadioButton("SearchBy", "Title", true) <text>Название</text>
                    @Html.RadioButton("SearchBy", "Description") <text>Описание</text>
                    @Html.RadioButton("SearchBy", "Profession") <text>Профессия</text>
                    @Html.RadioButton("SearchBy", "Danger") <text>Опасность</text>
                    @Html.RadioButton("SearchBy", "SourceDanger") <text>Источник опасности</text>
                </p>
            }

            <table id="main-table" class="mt-4">
                <thead>
                    <tr>
                        <th style="width: 5%" class="center">Название</th>
                        <th style="width: 50%" class="center">Описание</th>
                        <th style="width: 5%" class="center">Дата</th>
                        <th style="width: 5%" class="center">Профессия</th>
                        <th style="width: 5%" class="center">Опасность</th>
                        <th style="width: 5%" class="center">Источник опасности</th>
                        <th style="width: 5%" class="center">Ссылка</th>
                        <th style="width: 10%"></th>
                        <th style="width: 10%"></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr class="@item.Id">
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td class="col-text-left">
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Profession.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Danger.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SourceDanger.Title)
                            </td>
                            <td>
                                <a href="@Html.DisplayFor(modelItem => item.Link)">Перейти</a>
                            </td>
                            <td>
                                @Html.ActionLink("Изменить", "Edit", "AdminPanelAccidents", new { id = item.Id }, new { @class = "btn btn-primary" })
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger delbutton">Удалить</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<br />
<p>Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount</p>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, Search = Request.QueryString["Search"], SearchBy = Request.QueryString["SearchBy"] }))

<!-- Modal -->
<div class="modal fade" id="addAccidient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Загрузить новые НС</h5>
                <button type="button" class="close clearFile" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Выберите Excel-файл</p>
                <input type="file" id="excelFile" />
                <p class="center mt-4"><img style="display:none" id="loadImg" src="~/Img/load.gif" alt="Load" /></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary clearFile" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" id="loadFileInServer">Загрузить</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.delbutton').on('click', Delete);
            $('.clearFile').on('click', ClearFile);
            $('#loadFileInServer').on('click', LoadFileInServer);

            function Delete() {

                var tr = $(this).parent().parent();
                var id = tr.attr('class');

                $.ajax({
                    url: '@Url.Action("Delete", "AdminPanelAccidents")',
                    dataType: "json",
                    method: "POST",
                    data: "&id=" + id,
                    success: function () {
                        tr.remove();
                    },
                    error: function (data) {
                        alert(data.responseJSON);
                    }
                });
            }

            function ClearFile() {
                document.getElementById("excelFile").value = null;
            }

            function LoadFileInServer() {
                $("#loadImg").show();
                var $input = $("#excelFile");
                var fd = new FormData;

                fd.append('excelFile', $input.prop('files')[0]);

                $.ajax({
                    url: '@Url.Action("LoadExcelFile", "AdminPanelAccidents")',
                    processData: false,
                    contentType: false,
                    method: "POST",
                    data: fd,
                    success: function (data) {
                        $("#loadImg").hide();
                        alert(data);
                        location.reload();
                    },
                    error: function (data) {
                        $("#loadImg").hide();
                        alert(data.responseJSON);
                    }
                });
            }
        });
    </script>
}
